/* TEXT ELEMENTS */

body {
	background-color: white;
	font-family: helvetica;
	color: gray;
}

a {
	text-decoration: none;
}

@font-face {
	font-family: montserratBlack;
	src: url(Montserrat/Montserrat-Black.ttf);
}

@font-face {
	font-family: montserrat;
	src: url(Montserrat/Montserrat.ttf);
}

@font-face {
	font-family: montserratSemiBold;
	src: url(Montserrat/Montserrat-SemiBold.ttf);
}

h1 {
	text-align: center;
}
h2 {
	font-size: 30px;
	text-align: center;
	color: #667292;
	letter-spacing: 1px;
	font-weight: bold;
}

h3 {
	text-indent: 2em;
	color: #bccad6;
	text-shadow: 1px 1px 0 #667292;
}

p {
	padding-left: 4em;
	font-size: 20px;
	font-family: times new roman;
}

/* HEADER */

ul {
	line-height: 2em;
	font-size: 20px;
	font-family: times new roman;
	font-size: 20px;
}

nav {
	position: fixed;
	float: right;
	top:0;
	right: 0;
	background-color: #bccad6;
	width: 100%;
	height: 50px;
	text-align: center;
	justify-content: center;
	align-items: center;
	overflow: auto;
	padding-left: 15px;
	padding-right: 15px;
	z-index: 9999999;
}

nav a {
	color: white;
	font-weight: bold;
	font-size: 14px;
	margin: auto;
	line-height: 50px;
	padding: 13px;
	border-radius: 20px;
	text-shadow:
    -1px -1px 0 #667292,
    1px -1px 0 #667292,
    -1px 1px 0 #667292,
    1px 1px 0 #667292;
}

nav a.active {
	background-color: #f1e3dd;
	color: white;
	text-shadow:
    -1px -1px 0 #667292,
    1px -1px 0 #667292,
    -1px 1px 0 #667292,
    1px 1px 0 #667292;  
}

nav a:hover{
	background-color: #667292;
}

nav input[type=text] {
	padding: 0.5em;
	border: none;
	margin-left: 2em;
	font-size: 14px;
	border-radius: 15px;
	text-indent: 10px;
	background-color: #f1e3dd;
	color: gray;
}

nav select {
	display: none;
}

header {
	margin-top: -1em;
}

#logo {
	width: 95px;
	float: left;
	padding-top: 4.7em;
	padding-right: 2em;
	padding-left: 2.5em;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
	#logo {
		width: 95px;
		float: left;
		padding-top: 4.7em;
		padding-left: 2.5em;
	}
}

#physics {
	letter-spacing: 10px;
	color: #667292;
	font-weight: bold;
	float: left;
	font-size: 70px;
	padding-top: 30px;
	font-family: montserratBlack;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
	#physics {
		letter-spacing: 5px;
		color: #667292;
		font-weight: bold;
		float: left;
		font-size: 40px;
		font-family: montserratBlack;
	}
}

#title {
	letter-spacing: 2px;
	color: #667292;
	font-weight: bold;
	text-align: left;
	font-size: 70px;
	margin-top: -10px;
	margin-left: 1em;
	font-family: montserratBlack;
}

#devname {
	padding-top: 8.1em;
	color: #bccad6;
	letter-spacing: 1px;
	padding-bottom: 10px;
	padding-left: 37em;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
	#devname {
		display: none;
	}
}


#devlink {
	padding-top: 105px;
	color: #bccad6;
	letter-spacing: 2px;
	font-family: montserratSemiBold;
}

#devlink:hover {
	color: #667292;
	font-weight: bold;
}

#socmed {
	margin-top: -8em;
	text-align: right;
	padding-right: 20px;
}

#socmed a {
	padding: 20px;
	font-size: 20px;
}

#socmed img {
	width: 100px;
}

@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) {
	#socmed {
		display: none;
	}
}

#path {
	margin-top: 4em;
	margin-left: -2em;

}

/* BACK DIVS: 0(SAND), 1(MINT), 2(WHITE) */

.twocolumn {
	float: left;
	width: 46%;
	padding-left: 2em;
}

.fourcolumn {
	float: left;
	width: 25%;
	padding-left: 1.5em;
	overflow: scroll;
	margin: -20px;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

.row {
	align-items: center;
	margin-left: -15px;
	margin-right: -15px;
}

.back {
	background-color: #F0F0F0;
	width: 100%
	margin-top: -15px;
	height: 700px;
	padding: 20px;
}

.back1 {
	background-color: #f1e3dd;
	width: 100%
	margin: -15px;
	height: 630px;
}

.back2 {
	background-color: white;
	width: 100%
	margin: -15px;
	height: 630px;
}

/* TABLE ELEMENTS */

main {
	padding-top: 20px;
}
table {
	table-layout: fixed;
	border-radius: 10px;
	font-size: 20px;
}

th {
	text-align: center;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #bccad6;
	color: white;
}

td {
	font-size: 20px;
	padding: 10px 0px 10px 0px;
	text-align: center;
}

tr {
	background-color: #F0F0F0;
}

tr:hover {
	animation-name: fade;
	animation-duration: 60s;
}

@keyframes fade {
	3% {
		background-color: gray;
		color: white;
	}

	100% {
		background-color: gray;
		color: white;
	}
}

#sicontainer {
	margin-top: 3em;
	margin-left: 1em;
}

#siunits td {
	padding-top: 17.9px;
	padding-bottom: 17.9px;
}

#volumescont {
	margin-top: 1em;
}

#volone {
	text-align: right;
}

#volone a {
	counter-increment: chapter;
	color: gray;
	font-size: 25px;
	text-align: right;
}

#volone a:after {
	content:" "counter(chapter);
	font-weight: bold;
	font-size: 25px;
	color: #f1e3dd;
	text-shadow:
    -1px -1px 0 #667292,
    1px -1px 0 #667292,
    -1px 1px 0 #667292,
    1px 1px 0 #667292;
}

#volone a:hover {
	color:  #667292;
	font-size: 25px;
	font-weight: bold;
}

#voltwo {
	counter-reset: chapter 20;
}

#voltwo a {
	counter-increment: chapter;
	color: gray;
	font-size: 25px;
}

#voltwo a:before {
	content: counter(chapter)" ";
	font-weight: bold;
	font-size: 25px;
	color: #f1e3dd;
	text-shadow:
    -1px -1px 0 #667292,
    1px -1px 0 #667292,
    -1px 1px 0 #667292,
    1px 1px 0 #667292;
}

#voltwo a:hover {
	color:  #667292;
	font-size: 25px;
	font-weight: bold;
}

/* LESSONS */

#lessonnum {
	font-size: 20px;
}

/* FOOTER*/

#gitlink {
	color: white;
	font-weight: bold;
	font-family: montserratSemiBold;
}

#gitlink:hover {
	color: gray;
}

#chemistry {
	letter-spacing: 10px;
	color: white;
	font-size: 40px;
	margin: 0px;
	font-family: montserratBlack;
}

#chemistry:hover {
	color: gray;
}

footer {
	width: 100%;
	height:170px;
	background-color: #bccad6;
	margin-top:50em;
	position: absolute;
	left: 0;
	right: 0;
	line-height: 40px;
	font-size: 20px;
	color: white;
	padding-top: 10px;
	padding-bottom: 10px; 
}




